header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    flex-grow: 1;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    list-style: none;
}
form label{
    display: block;
}
